<div class="box-container" style="position: relative; height: 1281px;">

  <article class="box" id='box-one' >
    <%= image_category_link('box-1', 'medium') %>
  </article>

  <article class="box" id='box-one-text' >
    <%= image_category_link('box-1-text', 'medium') %>
  </article>

  <article class="box" id='box-two' >
     <%= image_category_link('box-2', 'small') %>
  </article>

  <article class="box" id='box-three' >
    <%= image_category_link('box-4', 'big_right') %>
  </article>

  <article class="box" id='box-four' >
     <%= image_category_link('box-3', 'small') %>
  </article>

  <article class="box" id='box-five' >
    <%= image_category_link('box-5', 'small') %>
  </article>

  <article class="box dbl-lg" id= 'box-six' >
     <%= image_category_link('box-7', 'double') %>
  </article>

  <article class="box" id='box-seven' >
    <%= image_category_link('box-6', 'small') %>
  </article>

  <article class="box" id= 'box-eight' >
    <%= image_category_link('box-8', 'medium') %>
  </article>

  <article class="box" id= 'box-two-text' >
    <%= image_category_link('box-2-text', 'medium') %>
  </article>

  <article class="box" id='box-three-text' >
    <%= image_category_link('box-3-text', 'medium') %>
  </article>

  <article class="box" id='box-nine' >
    <%= image_category_link('box-9', 'medium') %>
  </article>

  <article class="box" id='box-ten' >
    <%= image_category_link('box-10', 'medium') %>
  </article>

  <article class="box dbl-lg" id='box-eleven' >
    <%= image_category_link('box-11', 'double') %>
  </article>

  <article class="box" id='box-twelve' >
    <%= image_category_link('box-12', 'medium') %>
  </article>

  <article class="box" id='box-thirteen' >
    <%= image_category_link('box-13', 'small') %>
  </article>

  <article class="box" id='box-four-text' >
    <%= image_category_link('box-4-text', 'small') %>
  </article>

  <article class="box" id='box-fourteen' >
    <%= image_category_link('box-14', 'small') %>
  </article>

  <article class="box" id='box-five-text' >
    <%= image_category_link('box-5-text', 'small') %>
  </article>

</div>
